.container {
  height: 60px;
  background: var(--white);
  color: var(--black);
  display: flex;
  align-items: center;
}

.logo {
  margin: 0 5px!important;
  min-width: 40px;
}

.divider {
  flex-grow: 1;
}

.link {
  margin: 0 10px;
}

.link:hover {
  color: #2196f3;
}

.iconbutton {
  margin-right: 10px!important;
}
