.container {
  padding: 0 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.container > h1 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.username {
  cursor: pointer;
}

.challengelist {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal {
  height: 210px;
}

.modal > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal > form > label {
  margin-bottom: 2px;
}

.modal > form > button {
  margin-top: 10px;
}
